<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
          <p><%= blog.body %></p>
        </div>
        <a class="delete" data-id="<%= blog._id %>">删除</a>
    </div>
    
    <%- include("./partials/footer.ejs") %>

    <script>
        const deleteBtn = document.querySelector("a.delete");
        deleteBtn.addEventListener("click",(e) => {
            const deleteUrl = `/blogs/${deleteBtn.dataset.id}`;

            fetch(deleteUrl,{
                method: "DELETE"
            }).then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>